# Backend
fastapi
uvicorn[standard]
pydantic
python-dotenv
requests
httpx
typing-extensions

# Frontend
streamlit


google-generativeai 
# Testing
pytest

# Utilities
rich  # optional, for colorful logging or debug
